@using TessaStoreReal.Models;
@model CheckoutModel
@{
    ViewBag.Title = "Checkout";
    List<SelectListItem> months = new List<SelectListItem>();
    for (int i = 1; i <= 12; i++)
    {
        months.Add(new SelectListItem{ Text = i.ToString().PadLeft(2, '0'), Value = i.ToString() });
    }
    List<SelectListItem> years = new List<SelectListItem>();
    for (DateTime d=DateTime.Now; d<DateTime.Now.AddYears(5); d=d.AddYears(1))
    {
        years.Add(new SelectListItem{ Text=d.Year.ToString(), Value=d.Year.ToString() });
    }

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
<h2>Checkout</h2>
    if(!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false);
        </div>
    }
    <div>@Session["product"].ToString()</div>
    <h2>Contact Info</h2>
@Html.LabelFor(m=>m.FirstName)
@Html.TextBoxFor(m=>m.FirstName, new {@class="form-control"})
@Html.LabelFor(m => m.LastName)
@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
@Html.LabelFor(m => m.EmailAddress)
@Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
@Html.LabelFor(m => m.PhoneNumber)
@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
<h2>Billing Info</h2>
@Html.LabelFor(m => m.CreditCardNumber)
@Html.TextBoxFor(m => m.CreditCardNumber, new { @class = "form-control" })
    @Html.LabelFor(m => m.CreditCardVerificationValue)
    @Html.TextBoxFor(m => m.CreditCardVerificationValue, new { @class = "form-control" })
    @Html.LabelFor(m=> m.CreditCardName)
    @Html.TextBoxFor(m=> m.CreditCardName, new { @class = "form-control" })
 <div id="ccdates">
     <h4>Expiration</h4>
    @Html.LabelFor(m => m.CreditCardExpirationMonth)
    @Html.DropDownListFor(m => m.CreditCardExpirationMonth, months, new { @class = "form-control" })
    @Html.LabelFor(m => m.CreditCardExpirationYear)
    @Html.DropDownListFor(m => m.CreditCardExpirationYear, years, new { @class = "form-control" })
</div>
<h2>Shipping Info</h2>
<input type="submit" value="Submit Order" class="btn btn-primary"/>
}

